<%- include('partials/head') %> <%- include('partials/nav') %>

<h1>Ajouter un immo</h1>

<form>
  <label for="title">Titre :</label>
  <input type="text" name="title" id="title" />

  <button type="submit" onclick="create()">Créer</button>
</form>
